
div {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #0b1657; 
  margin-bottom: 5%;
  font-family: 'Times New Roman', Times, serif;
}


button {
  margin: 10px;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}


button[color='primary'] {
  background-color: #1976d2;
  color: white;
}

button[color='primary']:hover {
  background-color: #1565c0;
}


button[color='accent'] {
  background-color: #ff4081;
  color: white;
}

button[color='accent']:hover {
  background-color: #f50057;
}


button[color='warn'] {
  background-color: #f44336;
  color: white;
}

button[color='warn']:hover {
  background-color: #d32f2f;
}


button {
  border-radius: 25px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
